.App{
  width: 400px;
  height: fit-content;
  padding: 2%;
  background-color: rgba(34, 33, 33, 0.911);
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.eth{
  width: 94%;
  padding: 0 3%;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 18px;
}

.change{
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 1px;
  border-radius: 5px;
  margin-left: 5px;
}

.convertors{
  display: flex;
  flex-direction: column;
}